<div class="py-4 mb-4">
    <h4 class="titre rob">A Propos</h4>
</div>



<div class="container mb-5">
    <h2 class="rab"> Présentation personnelle. </h2>
    <p class="librefrank">
        Salut ! Je suis Fonkou Mukeme Kevin Franklin, étudiant en Bachelor 3 Développement Informatique, passionné par
        la technologie et avide d'approfondir mes compétences pratiques dans ce domaine fascinant.
        Mon objectif est clair : mettre en pratique les connaissances acquises au sein d'une entreprise innovante. J'ai
        soif de contribuer de manière significative à des projets concrets et de continuer à développer mon expertise
        dans le monde de l'informatique.

    </p>
    <img class="img1" src="../../../assets/apropos1.png" width="1200PX" height="900px" alt="">
    <h2 class="rab">Présentation chinoise. </h2>
    <p class="librefrank">Si j'étais un animal, je serais un caméléon. Comme lui, je m'adapte aux environnements
        changeants, maîtrisant
        différentes facettes du développement informatique, tout en restant flexible pour répondre aux besoins variés
        des projets et des entreprise. <br>
        Si j'étais un objet, je serais un couteau suisse. Multifonctionnel et polyvalent, j'explore divers domaines du
        développement : du développement web au développement mobile, avec une variété d'outils et de langages tels que
        Angular, React Native, Python, et bien d'autres. <br>
        Si j'étais un outil, je serais une boîte à outils. Polyvalente et complète, j'explore divers domaines du
        développement : du développement web au développement mobile, avec une variété d'outils et de langages tels que
        React, React Native, Python, et bien d'autres.
    </p>
    <img class="img2" src="../../../assets/logo3.png" width="500PX" height="500px" alt="">
    <h2 class="rab">Lettre à mon moi du futur -> 10ans</h2>
    <p>
        Voici ta lettre pour ton toi de 10 ans :) J'espère qu'elle te plaira. <br>
    </p>

    <!-- <a onclick="document.getElementById('test').style.visibility='hidden' ">cacher</a> -->
    <a style="cursor: pointer; text-decoration: underline; color: #e94949;" (click)="toggleVisibility()">{{ isVisible ? 'Afficher moins' : 'Afficher plus' }}</a>
    <p id="test" [style.display]="isVisible ? 'block' : 'none'" class="librefrank mt-3">
        Cher Futur Kevin,
        <br>

        J'espère que cette lettre te trouve entouré de réussites éclatantes et de nouveaux horizons captivants. Il y a
        dix ans, rempli d'excitation et de curiosité, nous étions sur le point d'embrasser l'avenir avec détermination.
        <br>
        Je suis fier du chemin parcouru depuis lors. Tu as transformé tes aspirations en réalisations concrètes,
        explorant les recoins fascinants du développement informatique avec une passion inaltérable. Tu t'es engagé à
        élargir tes compétences, maîtriser de nouvelles technologies et apporter une contribution significative à des
        projets révolutionnaires.
        <br>
        J'imagine que tu as dirigé des projets visionnaires et marqué l'industrie du développement informatique.
        Peut-être as-tu créé une équipe inspirée par ta vision, repoussant les limites de la technologie. N'oublie
        jamais d'alimenter ta soif de connaissances et d'innovation, tout en conservant ton éthique de travail
        inébranlable.
        <br>
        Je te souhaite un succès retentissant dans toutes tes entreprises futures. Souviens-toi toujours de la passion
        qui anime ton être et de l'impact extraordinaire que tu souhaites avoir sur le monde.
        <br>
        Avec admiration et confiance en tes capacités,
        <br> <br>

        Ton moi d'il y a dix ans

    </p>

</div>
<br>