<div class="py-4">
    <h4 class="titre rob">Projets</h4>
</div>
<div class="container-fluid test">
    <div class="row row-cols-1 row-cols-md-3 g-0">

        <div class="col t1 mb-3">
            <div class="card border-0" style="width: 17.5rem; height: 24rem;">
                <img src="../../../assets/bookeo.png" class="card-img-top img-fluid me-3 ms-3 mt-3 cal"
                    style="width: 250px;" alt="...">
                <div class="position-absolute end-0 bottom-0 d-flex tel"
                    style="background-color: #000000; width: 32px; height: 30px;">
                    <!-- <i class="fa-solid fa-arrow-right" style="color:white;"></i> -->
                    <!-- <i class="ri-arrow-right-up-line" style="color:white;"></i> -->
                    <img src="../../../assets/fleche.png" alt="fleche">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 10px;">──── website</h5>
                    <h5 class="card-title">Bookeo</h5>
                    <p class="card-text librefrank" style="font-size: 14px;">
                        Créer un site de gestion de bibliothèque avec PHP (backend) et JavaScript (effets) pour gérer
                        les livres, notes, commentaires, administration (ajout/suppression), avec filtrage par
                        catégorie.</p>
                    <a href="https://github.com/fonkoukevin/BOOKEO" target="_blank" class="me-3"><i class="fa-brands fa-github" style="color: #000000;"></i> Voir </a>
                    <a href="#"><i class="fa-solid fa-globe" style="color: #000000;"></i> Voir </a>
                </div>
            </div>
        </div>


        <div class="col t2">
            <div class="card border-0" style="width: 17.5rem; height: 24rem;">
                <img src="../../../assets/project-1.jpg" class="card-img-top img-fluid me-3 ms-3 mt-3 cal"
                    style="width: 250px;" alt="...">
                <div class="position-absolute end-0 bottom-0 d-flex tel"
                    style="background-color: #000000; width: 32px; height: 30px;">
                    <!-- <i class="fa-solid fa-arrow-right" style="color:white;"></i> -->
                    <!-- <i class="ri-arrow-right-up-line" style="color:white;"></i> -->
                    <img src="../../../assets/fleche.png" alt="fleche">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 10px;">──── website</h5>
                    <h5 class="card-title">AnmGest</h5>
                    <p class="card-text librefrank" style="font-size: 14px;">j'ai développé un projet de gestion des
                        animaux en Angular, permettant d'accéder à des informations détaillées sur divers types
                        d'animaux.
                        <!-- Ce projet représente une plateforme complète pour la gestion et l'exploration des
                        données relatives aux animaux. -->
                    </p>
                    <a href="#" class="me-3"><i class="fa-brands fa-github" style="color: #000000;"></i> Voir </a>
                    <a href="#"><i class="fa-solid fa-globe" style="color: #000000;"></i> Voir </a>
                </div>
            </div>
        </div>

        <div class="col t3">
            <div class="card border-0" style="width: 17.5rem; height: 24rem;">
                <img src="../../../assets/imgfmkstore.png" class="card-img-top img-fluid me-3 ms-3 mt-3 cal"
                    style="width: 240px;" alt="...">
                <div class="position-absolute end-0 bottom-0 d-flex tel mb-5s"
                    style="background-color: #000000; width: 32px; height: 30px;">
                    <!-- <i class="fa-solid fa-arrow-right" style="color:white;"></i> -->
                    <!-- <i class="ri-arrow-right-up-line" style="color:white;"></i> -->
                    <img src="../../../assets/fleche.png" alt="fleche">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 10px;">──── website</h5>
                    <h5 class="card-title">FMK STORE</h5>
                    <p class="card-text librefrank" style="font-size: 14px;">
                        J'ai développé un site de commerce
                        électronique qui présente mes articles à l'aide de localStorage et des effets avec jQuery.</p>
                    <a href="https://github.com/fonkoukevin/fmkstore-Ecommerce" target="_blank" class="me-3"><i
                            class="fa-brands fa-github" style="color: #000000;"></i> Voir </a>
                    <a href="https://storefmk-36c88.web.app/" target="_blank"><i class="fa-solid fa-globe"
                            style="color: #000000;"></i> Voir </a>
                </div>
            </div>
        </div>
        <div class="col t4 mb-5">
            <!-- <div class="card border-0" style="width: 17.5rem; height: 24rem;">
                <img src="../../../assets/project-1.jpg" class="card-img-top img-fluid me-3 ms-3 mt-3 cal"
                    style="width: 250px;" alt="...">
                <div class="position-absolute end-0 bottom-0 d-flex tel"
                    style="background-color: #000000; width: 32px; height: 30px;">
                    <img src="../../../assets/fleche.png" alt="fleche">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 10px;">──── website</h5>
                    <h5 class="card-title">Multi-U website</h5>
                    <p class="card-text librefrank" style="font-size: 14px;">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Quos suscipit nece</p>
                    <a href="#" class="me-3"><i class="fa-brands fa-github" style="color: #000000;"></i> Voir </a>
                    <a href="#"><i class="fa-solid fa-globe" style="color: #000000;"></i> Voir </a>
                </div>
            </div>
        </div> -->




    </div>
</div>